body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: Gilroy, sans-serif;
}
$swiper-slide-active-height: 581px;
.section1 {
  background-color: #f9f1e7;
  position: relative;
  header {
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .title {
      font-size: 24px;
      font-weight: bold;
    }
    .menu {
      ul {
        display: flex;
        justify-content: space-around;
        li {
          margin-right: 44px;
          list-style: none;
          color: #3a3a3a;
          cursor: pointer;

          input {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
            visibility: hidden;
            &:checked ~ .accardion__content {
              transition: 1s;
              opacity: 1;
              visibility: visible;
            }
            &:checked ~ label img {
              transform: rotate(180deg);
              transition: 1s;
            }
          }
          label {
            cursor: pointer;

            display: flex;
            justify-content: center;
            position: relative;
            img {
              object-fit: contain;
              margin-left: 8px;
              transition: 1s;
            }
          }

          .accardion__content {
            margin-top: 15px;
            position: absolute;
            color: #c49797;
            opacity: 0;
            visibility: hidden;
            transition: 1s;
            width: 100px;
          }
        }
      }
    }

    .search {
      background-color: #fff;
      display: flex;
      align-items: center;
      .forPlace {
        &::placeholder {
          font-weight: bold;
          font-size: 16px;
          color: #f11616;
        }
      }
      input {
        border: none;
        outline: none;
        width: 473px;
        height: 45px;
        font-size: 16px;
        color: #161515;
        &::placeholder {
          font-size: 14px;
          color: #616161;
        }
      }
      img {
        margin-right: 15px;
        margin-left: 15px;
        cursor: pointer;
      }
    }
    .user__block {
    }
    .favorite {
      cursor: pointer;
    }
    .favoriteClick {
      fill: red;
    }
    .basket {
      margin-left: 34px;
      margin-right: 34px;
      cursor: pointer;
    }
    .user__photo {
      cursor: pointer;
    }
  }
  .bed {
    display: flex;
    justify-content: flex-end;
  }
  .swiper-slide {
  }
  .slide__text {
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(31px);
    display: inline-flex;
    justify-content: flex-end;
    flex-direction: column;
    position: absolute;
    right: 40px;
    bottom: 40px;
    min-width: 0;
    .content {
      padding: 24px;
    }
    .title {
      font-weight: bold;
      font-size: 28px;
      color: #3a3a3a;
      margin-bottom: 4px;
    }
    .subtitle {
      font-weight: 500;
      font-size: 16px;
      color: #616161;
      margin-bottom: 8px;
    }
    .price {
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 20px;
      color: #3a3a3a;
    }
    img {
      object-fit: none;
      width: 15, 2px;
      height: 11, 64px;
      margin-left: 97px;
    }
  }
  .slider-header-left {
    svg {
      transform: rotate(180deg);
    }
    width: 48px;
    height: 48px;
    background: #e89f71;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 38px;
    cursor: pointer;
    &:hover {
      background: #f6ddcc;
      transition: 300ms;
      path {
        stroke: #e89f71;
      }
    }
  }
  .slider-header-right {
    width: 48px;
    height: 48px;
    background: #e89f71;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 38px;
    cursor: pointer;
    margin-left: 4px;
    &:hover {
      background: #f6ddcc;
      transition: 300ms;
      path {
        stroke: #e89f71;
      }
    }
  }
  .slider-header-navB {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 100px;
    margin-bottom: 22px;
    margin-left: 340px;
  }
  .swiper-container {
    margin-top: 114px;
    margin-right: 0;
  }
  .swiper-pagination-bullet-active {
    background: #e89f71;
  }
  .swiper-pagination-bullet {
    margin-left: 20px;
  }
  .pagination-wrap {
  }
  .navigation-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 22px;
  }
  .content__block {
    display: flex;
    .content {
      background: rgba(255, 255, 255, 0.72);
      backdrop-filter: blur(31px);
      position: absolute;
      bottom: 50px;
      left: 5em;
      z-index: 5;
      &__body {
        padding: 60px 60px 120px 60px;
      }
    }
    .title {
      font-weight: bold;
      font-size: 56px;
      color: #3a3a3a;
      width: 374px;
      margin-bottom: 16px;
    }
    .subtitle {
      font-weight: 500;
      font-size: 20px;
      color: #898989;
      margin-bottom: 72px;
      width: 353px;
    }
    .shop__btn {
      color: white;
      padding: 25px 140px;
      background: #e89f71;
      text-decoration: none;
    }
  }
}
.descripton {
  margin: 88px 0px;
  .descripton__body {
  }
  .descripton__items {
    display: flex;
    justify-content: space-around;
  }
  .item {
    display: flex;
    align-items: center;
  }
  .item__text {
    margin-left: 26px;
  }
  .title {
    margin-left: 2px;
  }
  .subtitle {
    color: #898989;
  }
}
.products {
  max-width: 1400px;
  margin: 0 auto;
  &__title {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    color: #3a3a3a;
  }
  &__body {
  }
  &__items {
    .items__body {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .item {
    margin: 32px;

    .main {
      max-width: 100%;
      position: relative;
      overflow: hidden;
      height: 301px;
      &:hover .descr {
        opacity: 1;
        transition: 500ms;
        top: 0;
        right: 0;
        visibility: visible;
      }
    }
    &__text {
      background: #f4f5f7;
    }
    .title {
      font-weight: 600;
      font-size: 24px;
      color: #3a3a3a;
      padding: 16px 0px 8px 16px;
    }
    .subtitle {
      padding: 0px 0px 8px 16px;
      font-weight: 500;
      font-size: 16px;
      color: #898989;
    }
    .price {
      font-weight: 600;
      font-size: 20px;
      color: #3a3a3a;
      padding: 0px 0px 30px 16px;
    }
    .descr {
      transition: 700ms;

      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.483);
      right: 100%;
      top: 100%;
      visibility: hidden;
      &__body {
        text-align: center;
        padding-top: 100px;
      }
      &__text {
        display: flex;
        justify-content: center;
      }
    }

    .select__btn {
      display: flex;
      justify-content: center;
      a {
        color: #e89f71;
        font-weight: 600;
        font-size: 16px;
        padding: 12px 58px;
        background: #fff;
        transition: 250ms;
        text-decoration: none;
        &:hover {
          background-color: #e89f71;
          color: white;
        }
      }
    }
    .share {
      display: flex;
      align-items: center;
      cursor: pointer;

      img {
      }
      p {
        color: #fff;
        margin-left: 11px;
      }
    }
    .like {
      align-items: center;
      display: flex;
      margin-left: 49px;
      cursor: pointer;

      p {
        color: #fff;
        margin-left: 11px;
      }
    }
  }
  .more__btn {
    text-align: center;
    margin-top: 32px;
    a {
      color: #e89f71;
      border: 1px solid #e89f71;
      padding: 12px 82px;
      text-decoration: none;
      &:hover {
        color: #fff;
        background-color: #e89f71;
        transition: 300ms;
      }
    }
  }
}
.section2 {
  background: #fcf8f3;
  margin-top: 30px;
  &__body {
    display: flex;
    align-items: center;
    padding-top: 44px;
  }
  &__text {
    margin-left: 100px;
    .title {
      font-weight: bold;
      font-size: 40px;
      width: 378px;
      color: #3a3a3a;
      margin-bottom: 8px;
    }
    .subtitle {
      width: 368px;
      height: 48px;
      font-weight: 500;
      font-size: 16px;
      color: #616161;
      margin-bottom: 24px;
    }
    .more__btn {
      font-size: 16px;
      color: #ffffff;
      background-color: #e89f71;
      padding: 12px 40px;
      text-decoration: none;
      transition: 500ms;

      &:hover {
        color: #e89f71;
        background-color: #fff;
        transition: 500ms;
      }
    }
  }
  .main {
    display: flex;
    align-items: flex-end;
  }
  .bg1 {
    background-image: url(../img/roost.png);
    background-repeat: no-repeat;
  }
  .bg2 {
    background-image: url(../img/kitchen.png);
    background-repeat: no-repeat;
  }
  .bg3 {
    background-image: url(../img/nightstand.png);
    background-repeat: no-repeat;
  }
  .slide__text {
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(3px);
    opacity: 0;
    visibility: hidden;
    transition: 250ms;
  }
  .swiper-slide .bg1 {
    width: 372px;
    transition: 250ms;
    height: 486px;
  }
  .swiper-slide .bg2 {
    width: 372px;
    transition: 250ms;
    height: 486px;
  }
  .swiper-slide .bg3 {
    width: 372px;
    transition: 250ms;
    height: 486px;
  }
  .text__content {
    padding: 32px;
    .title {
      font-size: 16px;
      color: #616161;
      display: flex;
      align-items: center;
      list-style: decimal;
      padding-bottom: 8px;
      &::before {
        content: "";
        width: 27px;
        height: 1px;
        background: #616161;
      }
    }
    .subtitle {
      font-weight: 600;
      font-size: 28px;
      color: #3a3a3a;
    }
  }
  .right__arow {
    background: #e89f71;
    width: 48px;
    height: 48px;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition: 250ms;
  }

  .swiper-button-section2-next {
    position: absolute;
    right: 0;
    top: 267px;

    z-index: 4;
    a {
      background: #ffffff;
      box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 40px;
      cursor: pointer;
    }
    path {
      stroke: #e89f71;
    }
  }
  .swiper2 {
    max-width: 876px;
    margin-right: 0;
    min-height: 581px;
    position: relative;
  }
  .swiper-container .swiper-slide-active .bg1 {
    width: 404px;
    transition: 250ms;
    height: 581px;
  }
  .swiper-slide-active .bg2 {
    width: 404px;
    transition: 250ms;
    height: 581px;
  }
  .swiper-slide-active .bg3 {
    width: 404px;
    height: 581px;
    transition: 250ms;
  }
  .swiper-slide-active .slide__text,
  .right__arow {
    transition: 250ms;
    opacity: 1;
    visibility: visible;
  }
  .swiper-slide-active .right__arow {
    display: flex;
  }
  .swiper-slide {
  }
}
.section3 {
  &__body {
  }
  &__title {
    font-weight: bold;
    font-size: 40px;
    color: #3a3a3a;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .swiper3 {
    position: relative;
  }
  .swiper-wrapper {
  }
  .swiper-slide {
  }
  .slide__text {
    transition: 450ms;

    .title {
      font-weight: 600;
      font-size: 24px;
      color: #3a3a3a;
      margin-top: 16px;
      margin-left: 16px;
      margin-bottom: 8px;
    }
    .date {
      color: #898989;
      font-size: 14px;
      margin-left: 16px;
      padding-bottom: 16px;
    }
  }
  .swiper-slide-active .slide__text {
    box-shadow: 4px 16px 8px 0px rgba(34, 60, 80, 0.2);
    transition: 450ms;
  }
  .swiper-container {
  }
  .swiper-pagination {
  }
  .swiper-button-prev {
  }
  .swiper-button-next {
  }
  .swiper-scrollbar {
  }
  .swiper-button-section3-next {
    z-index: 4;
    a {
      background: #ffffff;
      box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 40px;
      cursor: pointer;
    }
    path {
      stroke: #e89f71;
    }
  }
  .swiper-button-section3-prev {
    z-index: 4;
    a {
      background: #ffffff;
      box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 40px;
      cursor: pointer;
      svg {
        transform: rotate(-180deg);
      }
    }
    path {
      stroke: #e89f71;
    }
  }
  .nav-bloc {
    position: absolute;
    top: 161px;
    width: 100%;
    .nav-block-content {
      display: flex;
      justify-content: space-between;
    }
  }
  .swiper3-pagination {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  .swiper-pagination-bullet-active {
    background: #e89f71;
  }
}
@media (max-width: 1400px) {
  .section2__text {
    margin-right: 25px;
    margin-left: 29px;
  }
  .section2 .swiper-slide {
    .bg2,
    .bg1,
    .bg3 {
      width: 375px;
    }
  }
}
